.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/*border: 1px solid #4a4c58;*/
	flex: none;
	background: url('../images/avatar.jpg') no-repeat -20px center;
	background-size: cover;
	/*margin-right: 20px;*/
	transform: rotate(90deg);
}

@media screen and (max-width: 500px) {
	.avatar {
		/*margin: 0 auto !important;
		float: none;*/
		width: 80px;
		height: 80px;
	}
}